<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Prediction History</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>

<body>

<header class="topbar">

    <div class="logo">
        🌾 PaddyGuard AI
    </div>

    <nav>

        <a href="/dashboard">
            Dashboard
        </a>

        <a href="/">
            Predict
        </a>

        <a href="/logout">
            Logout
        </a>

    </nav>

</header>


<main class="dashboard">

    <div class="welcome">

        <h1>
            Prediction History
        </h1>

        <p>
            Your previous paddy disease predictions.
        </p>

    </div>


    <div class="history-container">

        {% if history %}

            {% for item in history %}

            <div class="history-card">

                <h2>
                    {{ item[0] }}
                </h2>

                <p>
                    Confidence:
                    {{ item[1] }}%
                </p>

                <p>
                    Date:
                    {{ item[2] }}
                </p>

            </div>

            {% endfor %}

        {% else %}

            <div class="dashboard-card">

                <h2>
                    No prediction history
                </h2>

                <p>
                    Upload a paddy leaf image
                    to make your first prediction.
                </p>

            </div>

        {% endif %}

    </div>

</main>

</body>

</html>